<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="header mt-md-5">
        <div
          class="
            header-body
            d-flex
            justify-content-between
            align-items-center
            pt-0
          "
        >
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">Overview</h6>
              <h1 class="header-title">Modifier Matière premiére</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-lg container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-xl-12 form-label-custom">
        <!-- Form -->

        <div class="row">
          <div class="col-xl-12">
            <div
              class="
                d-flex
                justify-content-between
                align-items-center
                card-header
              "
            >
              <h2 class="header-title form-title">
                Matière premiére Description
              </h2>
            </div>

            <form [formGroup]="PrimaryMatterForm">
              <div class="contact">
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-6">
                    <!-- Label -->
                    <label class="form-label">Code :</label>
                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="barcode"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        PrimaryMatterForm.get('barcode').touched &&
                        !PrimaryMatterForm.get('barcode').valid
                      "
                    >
                      Veuillez saisir le Nom de votre client.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-6">
                    <!-- Label -->
                    <label class="form-label">Libellé</label>

                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="description"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        PrimaryMatterForm.get('description').touched &&
                        !PrimaryMatterForm.get('description').valid
                      "
                    >
                    Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-4 col-lg-4">
                    <label class="form-label">Fournisseur</label>
                    <!-- Input -->
                    <select
                      class="form-select mb-3"
                      formControlName="fournisseur"
                    >
                      <option
                        value="{{ PrimaryMatterForm.get('fournisseur').value }}"
                        selected
                        disabled
                      >
                        {{ PrimaryMatterForm.get("fournisseur").value }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-md-4 col-lg-4">
                    <label class="form-label">lot</label>

                    <!-- Input -->
                    <select class="form-select mb-3" formControlName="lot">
                      <option
                        value="{{ PrimaryMatterForm.get('lot').value }}"
                        selected disabled
                      >
                        {{ PrimaryMatterForm.get("lot").value }}
                      </option>

                    </select>
                  </div>
                  <div class="form-group col-md-4 col-lg-4">
                    <label class="form-label">Matière de base</label>
                    <!-- Input -->
                    <select class="form-select mb-3" formControlName="basic">
                      <option
                        value="{{ PrimaryMatterForm.get('basic').value }}"
                        selected
                      >
                        {{ PrimaryMatterForm.get("basic").value }}
                      </option>

                      <option
                        *ngFor="let bm of basicMaterials"
                        value="{{ bm.basicdes }}"
                        [ngClass]="{
                          'd-none':
                            bm.basicdes === PrimaryMatterForm.get('basic').value
                        }"
                      >
                        {{ bm.basicdes }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-6">
                    <!-- Label -->
                    <label class="form-label">Quantité initial</label>

                    <!-- Input -->
                    <input
                      type="number"
                      class="form-control"
                      formControlName="initialQuantity"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        PrimaryMatterForm.get('initialQuantity').touched &&
                        !PrimaryMatterForm.get('initialQuantity').valid
                      "
                    >
                    Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-6">
                    <!-- Label -->
                    <label class="form-label">Quantité Resté</label>

                    <!-- Input -->
                    <input
                      type="number"
                      class="form-control"
                      formControlName="openQuantity"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        PrimaryMatterForm.get('openQuantity').touched &&
                        !PrimaryMatterForm.get('openQuantity').valid
                      "
                    >
                    Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-6">
                    <!-- Label -->
                    <label class="form-label">Unité</label>

                    <!-- Input -->
                    <select
                      class="form-select mb-3"
                      formControlName="quantityUnit"
                    >
                      <option value="KG">KG</option>
                      <option value="Tonne">Tonne</option>
                      <option value="G">G</option>
                    </select>
                    <div
                    class="invalid-feedback d-block"
                    *ngIf="
                      PrimaryMatterForm.get('quantityUnit').touched &&
                      !PrimaryMatterForm.get('quantityUnit').valid
                    "
                  >
                  Ceci est un champ obligatoire.
                  </div>
                  </div>

                  <div class="form-group col-md-6 col-lg-6 date-picker">
                    <!-- Label -->
                    <label class="form-label">Date Expiration :</label>
                    <br />
                    <!-- Input -->
                    <p-calendar
                      styleClass="datePicker"
                      showIcon="true"
                      inputId="basic"
                      formControlName="dateExp"
                      dateFormat="dd/mm/yy"
                    ></p-calendar>
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        PrimaryMatterForm.get('dateExp').touched &&
                        !PrimaryMatterForm.get('dateExp').valid
                      "
                    >
                      veuillez entrer le numéro de Raison social de votre client
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 mt-10">
            <hr class="mt-5" />
            <div class="row align-items-center justify-content-end">
              <div class="col-auto">
                <!-- Button -->
                <button class="btn btn-lg btn-white" type="reset">
                  Retour
                </button>
              </div>

              <div class="col-auto">
                <button class="btn btn-lg btn-primary" (click)="onUpdateMp()">
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
