<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="header mt-md-5">
        <div
          class="
            header-body
            d-flex
            justify-content-between
            align-items-center
            pt-0
          "
        >
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">Overview</h6>
              <h1 class="header-title">Modifer Fournisseur</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-lg container-fluid">
    <div
      *ngIf="loading"
      class="d-flex justify-content-center spinner-container"
    >
      <span class="spinner-border spinner-border-sm me-3"></span>
    </div>
    <div class="row justify-content-center">
      <div
        *ngIf="!loading"
        class="col-12 col-lg-12 col-xl-12 form-label-custom"
      >
        <!-- Form -->

        <div class="row">
          <div class="col-xl-12">
            <div class="d-flex justify-content-between">
              <h2 class="header-title">
                {{ formTitle }}
              </h2>

              <div class="d-flex">
                <div class="pe-2">
                  <div [ngClass]="!steps.step1 ? 'step' : 'step-done'">1</div>
                </div>

                <div class="pe-2">
                  <div [ngClass]="!steps.step2 ? 'step' : 'step-done'">2</div>
                </div>
                <div class="pe-2">
                  <div [ngClass]="!steps.step3 ? 'step' : 'step-done'">3</div>
                </div>
              </div>
            </div>

            <hr class="mb-5" />

            <form [formGroup]="providerForm">
              <div
                class="contact"
                [ngClass]="currentForm === 1 ? 'd-block' : 'd-none'"
                formGroupName="contact"
              >
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <!-- Label -->
                    <label class="form-label">Nom</label>

                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="lastName"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('contact.lastName').touched &&
                        !providerForm.get('contact.lastName').valid
                      "
                    >
                      Veuillez saisir le Nom de votre fournisseur.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <!-- Label -->
                    <label class="form-label">Prénom</label>

                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="firstName"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('contact.firstName').touched &&
                        !providerForm.get('contact.firstName').valid
                      "
                    >
                      Veuillez saisir le prénom de votre fournisseur.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Nationalité</label>
                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nationality"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('contact.nationality').touched &&
                        !providerForm.get('contact.nationality').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Sexe</label>
                    <div class="mb-3">
                      <select class="form-select mb-3" formControlName="sexe">
                        <option>Mr</option>
                        <option>Mme</option>
                      </select>
                    </div>
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('contact.sexe').touched &&
                        !providerForm.get('contact.sexe').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-groupcol-md-6 col-lg-3">
                    <!-- Label -->
                    <label class="form-label">Téléphone</label>

                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="Telephone"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('contact.Telephone').touched &&
                        !providerForm.get('contact.Telephone').valid
                      "
                    >
                      veuillez entrer le numéro du fournisseur. (min 8 chiffres)
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <!-- Label -->
                    <label class="form-label">Email</label>

                    <!-- Input -->
                    <input
                      type="email"
                      class="form-control"
                      formControlName="email"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('contact.email').touched &&
                        !providerForm.get('contact.email').valid
                      "
                    >
                      veuillez Entrez une adresse mail valide
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6">
                    <!-- Label -->
                    <label class="form-label">Raison Social</label>

                    <!-- Input -->
                    <input
                      type="email"
                      class="form-control"
                      formControlName="socialNum"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('contact.socialNum').touched &&
                        !providerForm.get('contact.socialNum').valid
                      "
                    >
                      veuillez entrer le numéro de Raison social de votre
                      fournisseur
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="personal-adress"
                [ngClass]="currentForm === 2 ? 'd-block' : 'd-none'"
                formGroupName="adresspresonnel"
              >
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Ville</label>
                    <!-- Input -->
                    <input
                      type="email"
                      class="form-control"
                      formControlName="cityName"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adresspresonnel.cityName').touched &&
                        !providerForm.get('adresspresonnel.cityName').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Région</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="region"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adresspresonnel.region').touched &&
                        !providerForm.get('adresspresonnel.region').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Code postal</label>
                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="zip"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adresspresonnel.zip').touched &&
                        !providerForm.get('adresspresonnel.zip').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label"> Rue </label>

                    <!-- Input -->

                    <input class="form-control" formControlName="street" />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adresspresonnel.street').touched &&
                        !providerForm.get('adresspresonnel.street').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label"> Rue Num</label>

                    <!-- Input -->

                    <input class="form-control" formControlName="streetNum" />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adresspresonnel.streetNum').touched &&
                        !providerForm.get('adresspresonnel.streetNum').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Adresse Détaillé</label>

                    <!-- Input -->

                    <input class="form-control" formControlName="adressdes" />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adresspresonnel.adressdes').touched &&
                        !providerForm.get('adresspresonnel.adressdes').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="work-adress"
                [ngClass]="currentForm === 3 ? 'd-block' : 'd-none'"
                formGroupName="adressetravaille"
              >
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Ville</label>
                    <!-- Input -->
                    <input
                      type="email"
                      class="form-control"
                      formControlName="cityName"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adressetravaille.cityName').touched &&
                        !providerForm.get('adressetravaille.cityName').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Région</label>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="region"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adressetravaille.region').touched &&
                        !providerForm.get('adressetravaille.region').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Code postal</label>
                    <!-- Input -->
                    <input
                      type="text"
                      class="form-control"
                      formControlName="zip"
                    />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adressetravaille.zip').touched &&
                        !providerForm.get('adressetravaille.zip').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label"> Rue </label>

                    <!-- Input -->

                    <input class="form-control" formControlName="street" />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adressetravaille.street').touched &&
                        !providerForm.get('adressetravaille.street').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label"> Rue Num</label>

                    <!-- Input -->

                    <input class="form-control" formControlName="streetNum" />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adressetravaille.streetNum')
                          .touched &&
                        !providerForm.get('adressetravaille.streetNum').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-lg-3">
                    <label class="form-label">Adresse Détaillé</label>

                    <!-- Input -->

                    <input class="form-control" formControlName="adressdes" />
                    <div
                      class="invalid-feedback d-block"
                      *ngIf="
                        providerForm.get('adressetravaille.adressdes')
                          .touched &&
                        !providerForm.get('adressetravaille.adressdes').valid
                      "
                    >
                      Ceci est un champ obligatoire.
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-12 mt-5">
            <div class="row align-items-center justify-content-end">
              <div class="col-auto">
                <!-- Button -->
                <button
                  class="btn btn-lg btn-white"
                  type="reset"
                  (click)="previous()"
                  *ngIf="currentForm > 1"
                >
                  Retour
                </button>
              </div>

              <div class="col-auto">
                <button
                  class="btn btn-lg btn-primary"
                  data-toggle="wizard"
                  [disabled]="!steps.step1"
                  (click)="next()"
                >
                  {{ currentForm !== 3 ? "Suivant" : "Confirmer" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
