<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="header mt-md-5">
        <div
          class="
            header-body
            d-flex
            justify-content-between
            align-items-center
            pt-0
          "
        >
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">Overview</h6>
              <h1 class="header-title">Matière premiére</h1>
            </div>
          </div>
          <div class="row align-items-center">
            <a
              [routerLink]="['/admin/primaryMatter/add']"
              class="
                btn btn-primary
                d-flex
                justify-content-center
                align-items-center
                lift
              "
            >
              <i class="las la-cart-plus add-icon"></i>
              ajouter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      class="
        empty-log
        d-flex
        flex-column
        align-items-center
        justify-content-center
      "
    >
      <p class="text-center">
        votre Matière premiére stock est vide <br />
        ajoutez pour commencer
      </p>
      <i class="lab la-pagelines"></i>
    </div>
    <div class="col-xl-10">
      <form class="mb-4">
        <div class="input-group input-group-merge">
          <input
            class="form-control product-search"
            type="search"
            placeholder="Rechercher Matière premiére"
          />
          <div class="input-group-text">
            <i class="las la-search"></i>
          </div>
        </div>
      </form>
      <div class="card">
        <div class="card-header">
          <!-- Title -->
          <h4 class="card-header-title d-flex align-items-center">
            <i class="lab la-pagelines leaf"></i> List Matière premiére
          </h4>

          <!-- Button -->
          <a
            href="#!"
            class="
              btn btn-sm btn-white
              d-flex
              export-button
              justify-content-center
              align-items-center
            "
          >
            Export <i class="lar la-file-pdf export-pdf"></i>
          </a>
        </div>
        <div class="table-responsive mb-0">
          <table
            class="table table-sm table-nowrap card-table table-hover mp-table"
          >
            <thead>
              <tr>
                <th>Libellé</th>
                <th class="intial-quantity">Quantité initiale</th>
                <th>Quantité reste</th>
                <th>Unité</th>
                <th>Code à barre</th>
                <th>Date insérer</th>
                <th>Date Experation</th>
                <th>Fourinsseur</th>
                <th>Lot</th>
                <th>Matières de base</th>
                <th colspan="2">Dépot</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <td class="label">huile</td>
                <td class="intial-quantity">450</td>
                <td class="rest-quantity">
                  <div class="badge bg-primary-soft">170</div>
                </td>
                <td class="unite">kg</td>
                <td>oi-ee87</td>
                <td>07/30/18</td>
                <td>05/30/20</td>
                <td>Launchday Cover</td>
                <td>Lot 25</td>
                <td>Plante</td>
                <td>dépot 2</td>
                <td class="text-end">
                  <!-- Dropdown -->
                  <div class="dropdown action-td">
                    <a
                      href="#"
                      class="dropdown-ellipses dropdown-toggle"
                      (click)="openActionMenu()"
                    >
                      <i class="las la-ellipsis-v ver-menu"></i>
                    </a>
                    <div
                      class="dropdown-menu dropdown-menu-end"
                      [ngClass]="{ 'show ': actionMenuTable }"
                    >
                      <a href="#!" class="dropdown-item">
                        <i class="las la-edit"></i>
                        Modifier
                      </a>
                      <a href="#!" class="dropdown-item">
                        <i class="las la-trash"></i>
                        Supprimer
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="label">Kaliptus</td>
                <td class="intial-quantity">824</td>
                <td class="rest-quantity">
                  <div class="badge bg-danger-soft">87</div>
                </td>
                <td class="unite">kg</td>
                <td>el-578</td>
                <td>04/21/20</td>
                <td>01/05/20</td>
                <td>Swell Bottle</td>
                <td>Lot 30</td>
                <td>Plante</td>
                <td>dépot 5</td>
                <td class="text-end">
                  <!-- Dropdown -->
                  <div class="dropdown action-td">
                    <a href="#" class="dropdown-ellipses dropdown-toggle">
                      <i class="las la-ellipsis-v ver-menu"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a href="#!" class="dropdown-item"> Action </a>
                      <a href="#!" class="dropdown-item"> Another action </a>
                      <a href="#!" class="dropdown-item">
                        Something else here
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="label">elxams</td>
                <td class="intial-quantity">475</td>
                <td class="rest-quantity">
                  <div class="badge bg-warning-soft">150</div>
                </td>
                <td class="unite">kg</td>
                <td>el-457</td>
                <td>01/14/19</td>
                <td>04/03/20</td>
                <td>json and soft</td>
                <td>Lot 10</td>
                <td>Plante</td>
                <td>dépot 4</td>
                <td class="text-end">
                  <!-- Dropdown -->
                  <div class="dropdown action-td">
                    <a
                      href="#"
                      class="dropdown-ellipses dropdown-toggle"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="las la-ellipsis-v ver-menu"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a href="#!" class="dropdown-item"> Action </a>
                      <a href="#!" class="dropdown-item"> Another action </a>
                      <a href="#!" class="dropdown-item">
                        Something else here
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
