<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-10">
      <div class="header mt-md-5">
        <div
          class="
            header-body
            d-flex
            justify-content-between
            align-items-center
            pt-0
          "
        >
          <div class="row align-items-center">
            <div class="col">
              <h6 class="header-pretitle">Overview</h6>
              <h1 class="header-title">Matière premiére</h1>
            </div>
          </div>
          <div class="row align-items-center">
            <a
              [routerLink]="['/admin/primaryMatter/add']"
              class="
                btn btn-primary
                d-flex
                justify-content-center
                align-items-center
                lift
              "
            >
              <i class="las la-cart-plus add-icon"></i>
              ajouter
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div
      *ngIf="loading"
      class="d-flex justify-content-center spinner-container"
    >
      <span class="spinner-border spinner-border-sm me-3"></span>
    </div>
    <div class="row justify-content-center">
      <div
        class="
          empty-log
          d-flex
          flex-column
          align-items-center
          justify-content-center
        "
        *ngIf="primaryMatterList && primaryMatterList.length === 0"
      >
        <p class="text-center">
          votre Matière premiére stock est vide <br />
          ajoutez pour commencer
        </p>
        <i class="lab la-pagelines"></i>
      </div>
      <div
        class="col-xl-10"
        *ngIf="primaryMatterList && primaryMatterList.length > 0"
      >
        <form class="mb-4">
          <div class="input-group input-group-merge">
            <input
              class="form-control product-search"
              type="search"
              placeholder="Rechercher Matière premiére"
              [(ngModel)]="searchTerm"
              name="searchTerm"
            />
            <div class="input-group-text">
              <i class="las la-search"></i>
            </div>
          </div>
        </form>
        <div class="card">
          <div class="card-header">
            <!-- Title -->
            <h4 class="card-header-title d-flex align-items-center">
              <i class="lab la-pagelines leaf"></i> List Matière premiére
            </h4>

            <!-- Button -->
            <a
              href="#!"
              class="
                btn btn-sm btn-white
                d-flex
                export-button
                justify-content-center
                align-items-center
              "
            >
              Export <i class="lar la-file-pdf export-pdf"></i>
            </a>
          </div>
          <div class="table-responsive mb-0">
            <table
              class="
                table table-sm table-nowrap
                card-table
                table-hover
                mp-table
              "
            >
              <thead>
                <tr>
                  <th>Libellé</th>
                  <th class="intial-quantity">Quantité initiale</th>
                  <th>Quantité reste</th>
                  <th>Unité</th>
                  <th>Code à barre</th>
                  <th>Date insérer</th>
                  <th>Date Experation</th>
                  <th>Fourinsseur</th>
                  <th>Lot</th>
                  <th>Matières de base</th>
                  <th>Dépot</th>
                  <th class="text-center" colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr
                  *ngFor="
                    let primaryMatter of primaryMatterList | filter: searchTerm
                  "
                  [ngClass]="{ 'hide-archived': primaryMatter.archiver }"
                >
                  <td class="label">{{ primaryMatter.description }}</td>
                  <td class="intial-quantity">
                    {{ primaryMatter.initialQuantity }}
                  </td>
                  <td class="rest-quantity">
                    <div
                      class="badge"
                      [ngClass]="
                        primaryMatter.openQuantity >= 50
                          ? 'bg-primary-soft'
                          : 'bg-danger-soft'
                      "
                    >
                      {{ primaryMatter.openQuantity }}
                    </div>
                  </td>
                  <td class="unite">{{ primaryMatter.quantityUnit }}</td>
                  <td>{{ primaryMatter.barcode }}</td>
                  <td>{{ primaryMatter.insertDate | date: "dd/MM/yyyy" }}</td>
                  <td>{{ primaryMatter.dateExp | date: "dd/MM/yyyy" }}</td>
                  <td>{{ primaryMatter.lot.provider?.contact.firstname }} {{primaryMatter.lot.provider?.contact.lastname  }}</td>
                  <td>{{ primaryMatter.lot?.description }}</td>
                  <td>{{ primaryMatter.basic?.basicdes }}</td>
                  <td>{{ primaryMatter.lot.reposit?.description }}</td>
                  <td class="text-center" colspan="3">
                    <div *ngIf="primaryMatter.archiver">
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-refresh"
                        class="
                          p-button-rounded p-button-secondary p-button-text
                        "
                        pTooltip="restaurer Matière premiére"
                        tooltipPosition="top"
                        tooltipEvent="hover"
                        tooltipStyleClass="tooltip-custom"
                        (click)="
                          RestorePmModal({
                            id: primaryMatter.id,
                            archived: true
                          })
                        "
                      ></button>
                    </div>
                    <div *ngIf="!primaryMatter.archiver">
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="
                          p-button-rounded p-button-text p-button-secondary
                        "
                        pTooltip="Modifier details Matière premiére "
                        tooltipPosition="top"
                        tooltipEvent="hover"
                        tooltipStyleClass="tooltip-custom"
                        [routerLink]="[
                          '/admin/primaryMatter/edit',primaryMatter.id]"
                      ></button>
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-trash"
                        class="
                          p-button-rounded p-button-secondary p-button-text
                        "
                        pTooltip="Supprimer Matière premiére"
                        tooltipPosition="top"
                        tooltipEvent="hover"
                        tooltipStyleClass="tooltip-custom"
                        (click)="
                          DeletePmModal({
                            id: primaryMatter.id,
                            archived: false
                          })
                        "
                      ></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- dialog confirmation -->
<p-confirmDialog class="custom-dialog-confirm" [style]="{ width: '50vw' }">
  <ng-template pTemplate="footer">
    <!-- Button -->
    <button class="btn btn-lg btn-white" type="reset" (click)="cancel()">
      <i class="las la-times-circle"></i>
      Annuler
    </button>
    <!-- Button -->
    <button
      class="btn btn-lg btn-primary"
      data-toggle="wizard"
      (click)="onDeletePm()"
      *ngIf="!primaryMatter.archived"
      [disabled]="loading"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-3"
      ></span>
      <i class="las la-trash-alt"></i> Supprimer
    </button>
    <button
      class="btn btn-lg btn-primary"
      data-toggle="wizard"
      (click)="onRestorePm()"
      *ngIf="primaryMatter.archived"
      [disabled]="loading"
    >
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-3"
      ></span>
      <i class="las la-trash-alt"></i> Restaurer
    </button>
  </ng-template>
</p-confirmDialog>
