/* common css styles  */


.search-backdrop {
    width: calc(100vw - 350px) !important;
    position: fixed;
    right: 0 !important;
    top: 0;
    z-index: 1040;
    height: 100vh;
    opacity: 0.8;
    cursor: pointer;
    background-color: #a7b8d2 !important;
}

.profiledropup {
    bottom: unset !important;
}

.nav-link {
    cursor: pointer;
}

.main-content {
    margin-left: 250px;
    transition: margin-left 150ms ease-out;
}

.nav-label {
    display: none !important;

}

.custom-sidenav {
    max-width: 80px !important;
    transition: max-width 150ms ease-out;

}

.custom-sidenav:hover {
    max-width: 251px !important;
    transition: max-width 100ms ease-in;
}

.header-title {
    font-size: 23px;
    font-family: 'Poppins-Medium';
}

.datePicker .p-inputtext {
    border-radius: 0.375rem 0 0 0.375rem !important;
    border-color: 1px solid #dae3ef !important;
    min-height: 40.5px !important;
}


/* width */
::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar {
    width: 4px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136, 0.1);
    border-radius: 10px;
}

.date-picker .p-calendar {
    min-width: 100% !important;
}

.add-icon {
    font-size: 25px;
    margin-right: 5px;
}


.export-pdf {
    font-size: 35px;
    margin-left: 5px;
    color: #f44336;
}


.export-button {
    font-size: 15px;
    font-family: "Poppins-Regular";
}

.export-button:hover {
    opacity: 0.9;
}


.humain-search, .product-search {

    border-radius: 4px !important;
    max-width: 220px;
    font-size: 14px;
    font-family: 'Poppins-Light';
}

.empty-log {
    height: 500px;
}

.empty-log img {
    width: 100px;
}

.empty-log p {
    font-size: 17px;
    font-family: "Poppins-Light";
}



.empty-log i {
    font-size: 100px;

}


.empty-log .la-address-book {

    color: #2c8cea;
}

.empty-log .la-pagelines {

    color: #8bc34ad4;
}

.empty-log .la-shipping-fast {
    color: #3f51b5;
}

.empty-log .la-user-tag {
    color: #f44336;
}


.empty-log .la-dolly {
    color: #95aac9;
}

.empty-log .la-clipboard {
    color: #2777b0;
}

.empty-log .la-leaf {
    color: #8bc34ad4;
}

.form-label-custom .form-label {
    font-size: 14px;
    font-family: "Poppins-Medium";
    color: #12263f;

}


/*detail dialog*/

.custom-dialog .p-dialog-header {
    background-color: #f9fbfd !important;
    border-bottom: 1px solid #edf2f9 !important;

}

.custom-dialog .p-dialog-header .p-dialog-title {
    color: #95aac9 !important;
    font-family: "Poppins-SemiBold";
}

.spinner-container {
    position: absolute;
    height: 100vh;
    align-items: center;
}



.details-card h5 {
    font-size: 16px;
    font-family: "Poppins-Medium";
    text-align: left;
}

.details-card .text-muted {
    font-family: "Poppins-Regular";
    color: #333 !important
}


/*tooltip*/
.tooltip-custom {
    font-size: 13px !important;
    font-family: "Poppins-Medium" !important;



}


.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    border-top-color: #6e84a3 !important;
}

.tooltip-custom .p-tooltip-text {
    background-color: #f9fbfd !important;
    border: 2px solid #6e84a3;
    color: #6e84a3 !important;
}

/*confirm dialog*/
.custom-dialog-confirm .p-dialog .p-dialog-header {

    color: #95aac9 !important;
    font-family: "Poppins-SemiBold" !important;
}


.custom-dialog-confirm .p-dialog .p-dialog-header {
    background-color: #f9fbfd !important;
    border-bottom: 1px solid #edf2f9 !important;
}


.custom-dialog-confirm .p-dialog .pi-info-circle:before {

    color: #607d8b !important;
}

.custom-dialog-confirm .p-confirm-dialog-message {
    font-family: 'Poppins-Medium';
    color: #607d8b !important;
    font-size: 16px;

}

.custom-dialog-confirm .p-dialog-footer {
    border: 0 !important;
    padding: 0 20px 20px 20px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.custom-dialog-confirm .p-dialog-content {
    padding: 1.2rem !important;
}

.custom-dialog-confirm .las {
    font-size: 17px;
}


/*hide archived*/

.hide-archived {
    opacity: 0.5;
}

.hide-archived:hover {
    opacity: 1;
    cursor: pointer;
}

.step {
    height: 30px;
    width: 30px;
    background: #6e8aa6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins-Medium';
    padding-top: 1px;
    padding-right: 1px;
}


.step-done {
    height: 30px;
    width: 30px;
    background: #28a745d1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins-Medium';
    padding-top: 1px;
    padding-right: 1px;
}